<div class="card service" id="{{ item.pk }}">
    <div class="card__container">
        <div class="link">
            {% load thumbnail %}
            {% if item.image|is_portrait %}
                {% thumbnail item.image "480x720" crop="center" upscale=True as im %}
            {% else %}
                {% thumbnail item.image "720x480" crop="center" upscale=True as im %}
            {% endif %}
                <img class="card__image" src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card__header">
                <p class="card__title">
                    {{ item.title }}
                </p>
            </div>
        </div>
    </div>
</div>