<div class="info-window" id="{{ item.pk }}">
    <div class="info-window__container">
        <button class="icon-close-window button__empty" id="WindowClose"></button>
        {% load thumbnail %}
        {% thumbnail item.image "720x480" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" class="info-window__nav">
        {% endthumbnail %}
        <div class="info-window__content">
            <div class="info-window__header">
                <h1 class="info-window__title">{{ item.title }}</h1>
            </div>
            <p class="info-window__text">
                {{ item.description }}
            </p>
            <div class="info-window__header">
                <h1 class="info-window__title">Галерея</h1>
            </div>
            <div class="info-window__gallery">
                {% for image in item.gallery.all %}
                    {% load thumbnail %}
                    {% if image|is_portrait %}
                        {% thumbnail image "480x720" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" class="info-window__gallery__item">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail image "720x480" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" class="info-window__gallery__item">
                        {% endthumbnail %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>