.footer__item {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-variant-numeric: lining-nums tabular-nums;
}

@media only screen and (max-width : 1024px) {
    .footer__item__item {
        font-size: 12px;
    }
}