.icon-close-window {
    display: block;
    position: fixed;
    top: 24px;
    left: 24px;
    width: 51px;
    height: 51px;
    background-image: url("../../images/close-window.svg");
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent
}