.info-window__gallery {
    width: 100%;
    display: grid;
    row-gap: 16px;
    column-gap: 11px;
    row-gap: 22px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
}

@media only screen and (max-width : 1024px) {
    .info-window__gallery {
        grid-template-columns: 100%;
    }
}