.email-contact__picture {
    display: block;
    position: absolute;
    box-align: center;
    width: 341px;
    height: 243px;
    background-image: url("../../../images/email-picture.svg");
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent;
    top: 30px;
    right: 50px;
}

@media only screen and (max-width : 1024px) {
    .email-contact__picture{
        display: none;
    }
}