.main__subsection__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 1024px) {
    .main__subsection__description {
        font-size: 14px;
        line-height: 20px;
    }
}