.email-contact__input {
    background-color: #FFFFFF;
    width: 30%;
    height: 38px;
    border-radius: 50vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 50%;
    border: none;
    min-width: 250px;
    padding: 0 16px;
}

.email-contact__input:focus {
    outline: 2px solid #805EA4;
}

@media only screen and (max-width : 1024px) {
    .email-contact__input {
        width: 100%;
    }
}