.icon-arrow-down {
    display: block;
    position: inherit;
    box-align: center;
    width: 15px;
    height: 25px;
    background-image: url("../../images/arrow-down.svg");
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent
}

@media only screen and (max-width : 1024px) {
    .icon-arrow-down {
        width: 8px;
        height: 13px;
        background-image: url("../../images/arrow-down-small.svg");
    }
}