.banner__link {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

@media only screen and (max-width : 1024px) {
    .banner__link {
        font-size: 15px;
        line-height: 20px;
    }
}