.nav__item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__item:hover {
    border-bottom: 2px #000000 solid;
    margin-bottom: -2px;
}

.nav__item.active {
    border-bottom: 3px #000000 solid;
    margin-bottom: -3px;
}