@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

@import "../vendor/normalize.css";
@import "../blocks/body/body.css";
@import "../blocks/container/container.css";
@import "../blocks/link/link.css";

@import "../blocks/preloader/preloader.css";
@import "../blocks/preloader/__container/preloader__container.css";
@import "../blocks/preloader/__item/preloader__item.css";

@import "../blocks/nav/nav.css";
@import "../blocks/nav/__container/nav__container.css";
@import "../blocks/nav/__items/nav__items.css";
@import "../blocks/nav/__item/nav__item.css";
@import "../blocks/nav/__link/nav__link.css";
@import "../blocks/nav/__menu/nav__menu.css";

@import "../blocks/menu/menu.css";
@import "../blocks/menu/__container/menu__container.css";
@import "../blocks/menu/__item/menu__item.css";
@import "../blocks/menu/__item/__title/menu__item__title.css";
@import "../blocks/menu/__item/__subtitle/menu__item__subtitle.css";

@import "../blocks/navbar/navbar.css";
@import "../blocks/navbar/__container/navbar__container.css";
@import "../blocks/navbar/__item/navbar__item.css";

@import "../blocks/footer/footer.css";
@import "../blocks/footer/__section/footer__section.css";
@import "../blocks/footer/__container/footer__container.css";
@import "../blocks/footer/__items/footer__items.css";
@import "../blocks/footer/__item/footer__item.css";
@import "../blocks/footer/__item/__title/footer__item__title.css";

@import "../blocks/main/main.css";
@import "../blocks/main/__header/main__header.css";
@import "../blocks/main/__title/main__title.css";

@import "../blocks/button/button.css";
@import "../blocks/button/__size/_full/button__size_full.css";
@import "../blocks/button/__empty/button__empty.css";

@import "../blocks/flatpage/__container/flatpage__container.css";
@import "../blocks/flatpage/__header/flatpage__header.css";
@import "../blocks/flatpage/__image/flatpage__image.css";
@import "../blocks/flatpage/__section/flatpage__section.css";
@import "../blocks/flatpage/__subtitle/flatpage__subtitle.css";
@import "../blocks/flatpage/__text/flatpage__text.css";
@import "../blocks/flatpage/__title/flatpage__title.css";
@import "../blocks/flatpage/__content/flatpage__content.css";

@import "../blocks/icon-logo/icon-logo.css";
@import "../blocks/icon-logo-animate/icon-logo-animate.css";
@import "../blocks/icon-menu/icon-menu.css";
@import "../blocks/icon-olegenov/icon-olegenov.css";
@import "../blocks/icon-cross/icon-cross.css";

@import "../images/doska.png";
@import "../images/elec.png";
@import "../images/kley.png";
@import "../images/kraski.png";
@import "../images/plitka.png";
@import "../images/poliurtan.png";
@import "../images/sant.png";
@import "../images/smesi.png";

* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    height: 4px;
    width: 8px;
    background-color: none;
}

html::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 4px;
}