.main__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 38px;
    color: black;
    cursor: default;
}

@media only screen and (max-width : 1024px) {
    .main__title{
        font-size: 20px;
    }
}
