.item__description {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
}

@media only screen and (max-width : 1024px) {
    .item__description{
        font-size: 16px;
        line-height: 30px;
        margin: 4px 0;
    }
}