.main__section__icon-sign {
    display: flex;
    gap: 26px;
    align-items: center;
}

.main__section__icon-sign.text {
    color: #2B2B2A;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media only screen and (max-width : 1024px) {
    .main__section__icon-sign {
        gap: 16px;
    }
    .main__section__icon-sign.text {
        font-size: 20px;
        margin: auto;
    }
}