.filters-window__item__color {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
}

input[type="checkbox"].filters-window__item__color:checked::before {
    content: '';
    position: absolute;
    background: url("../../../../images/yes.svg");
    width: 12px;
    height: 10px;
    top: 7px;
    left: 6px;
}

@media only screen and (max-width : 1024px) {
    .filters-window__item__color {
        height: 18px;
        width: 18px;
    }
}