.info-window__gallery {
    width: 100%;
    display: grid;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: auto;
}

@media only screen and (max-width : 1024px) {
    .info-window__gallery {
        grid-template-columns: 100%;
    }
}