.card__price_currency {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 23px;
    color: #8C8C8C;
    padding: 0;
    margin: 0;
    width: max-content;
    cursor: default;
}

@media only screen and (max-width : 1024px) {
    .card__price_currency{
        font-size: 10px;
        line-height: 18px;
    }
}