.flatpage__image {
    width: 100%;
    object-fit: cover;
}

.flatpage__imagewithlabel {
    width: 100%;
    position: relative;
}

.flatpage__image.label {
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(25px);
    padding: 16px;
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (max-width : 1024px) {
    .flatpage__image.label {
        padding: 8px;
        font-size: 16px;
    }
}