.banner__content__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 90px;
    border-radius: 32px;
    z-index: 100;
}

@media only screen and (max-width : 1024px) {
    .banner__content__container {
        padding: 30px;
        border-radius: 16px;
    }
}