.card__title {
    color: #000;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    width: max-content;
    cursor: pointer;
}

@media only screen and (max-width : 1024px) {
    .card__title{
        font-size: 14px;
        line-height: 16px;
    }
}
