.nav {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}

@media only screen and (max-width : 1024px) {
    .nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        z-index: 1000;
    }
}
