<footer class="footer">
    <div class="footer__container">
        <div class="footer__section">
            <div class="footer__items">
                <h3 class="footer__item__title">Навигация</h3>
                <a href="{% url 'index' %}" class="footer__item link">Главная</a>
                <a href="{% url 'services' %}" class="footer__item link">Услуги</a>
                <a href="{% url 'technologies' %}" class="footer__item link">Строительные технологии</a>
                <a href="{% url 'materials' %}" class="footer__item link">Материалы</a>
                <a href="{% url 'portfolio' %}" class="footer__item link">Портфолио</a>
                <a href="{% url 'designs' %}" class="footer__item link">Дизайн-ателье</a>
            </div>
            <div class="footer__items">
                <h3 class="footer__item__title">Контакты</h3>
                <a href="tel:+79969795030" class="footer__item link">
                    +7 (996) 979-50-30
                </a>
                <a href="tel:+79647771707" class="footer__item link">
                    +7 (964) 777-17-07
                </a>
                <a href="mailto:contact@horstroy.ru" class="footer__item link">
                    contact@horstroy.ru
                </a>
            </div>
        </div>
        <p class="footer__item">© HORSTROY, {% now 'Y' %}</p>
        <a href="" class="link"><span class="icon-olegenov"></span></a>
    </div>
</footer>