.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 32px;
}

@media only screen and (max-width : 1024px) {
    .banner__image{
        border-radius: 16px;
    }
    .gradient-overlay {
        border-radius: 16px;
    }
}

.gradient-overlay {
    z-index: 10;
    border-radius: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  }